color_facebook = #375E98
color_azul_oscuro = #2c3e50

body 
	font-family 'Open Sans' sans-serif
	font-size 16px 
	font-weight 400
.container
	width 1000px
	margin 0 auto
	position relative
	@media (max-width: 1000px)
		width 100%
header
	height 100px
	box-sizing border-box
	padding-top 20px
	text-align left
	h1 
		display inline-block
		vertical-align top
		margin 0
		img 
			height 60px
	nav
		display inline-block
		vertical-align top
		position absolute
		top 0
		right 0
		ul
			list-style none
			padding 0
			li 
				display inline-block
				a
					box-sizing border-box
					display inline-block 
					color gray
					padding 10px 0px
					margin-left 20px
					text-decoration none
					text-transform uppercase
					transition .2s all ease-in-out
					border-bottom 3px solid transparent
					&:hover 
						border-bottom 3px solid color_facebook
					&.login
						border-radius 5px
						padding 10px 20px
						color white 
						background-color color_facebook

section.principal
	color white
	background url('../imgs/fondo.png') center center no-repeat
	background-size cover
	padding-top 100px
	padding-bottom 30px
	p.principal
		font-size 45px
		font-weight 800
		text-align center
		text-transform uppercase
		letter-spacing -2px
	p.boton 
		text-align center
		a 
			border-radius 10px
			color white
			font-size 20px
			font-weight 400
			background-color color_facebook
			display inline-block
			padding 20px 50px
			text-decoration none
	p.subtitulo
		text-decoration center
		font-weight 300
		text-align center

section.features
	background-color #ebebeb
	padding-top 100px
	padding-bottom 50px
	div.row
		width 100%
		font-size 0
		p 
			color black
			font-size 20px 
			font-weight 700
			text-align center
		article
			box-sizing border-box
			display inline-block
			vertical-align top
			width 33.33%
			@media (max-width: 1000px)
				width 100%
			figure
				padding-top 30px
				text-align center
				img 
					text-align center 
			p 
				box-sizing border-box
				color gray
				font-size 16px
				font-weight 300
				padding 10px 30px
section.friends
	padding-top 100px
	h2 
		color black 
		font-size 20px 
		font-weight 700
		text-align center
	div.row
		width 100%
		font-size 0
		figure 
			box-sizing border-box
			display inline-block
			width 10%
			margin 0
			padding 10px
			img 
				border-radius 5px
				width 100%
section.partners
	padding-top 70px
	padding-bottom 100px
	div.row
		width 100%
		font-size 0
		h2 
			color black 
			font-size 20px 
			font-weight 700
			text-align center
		figure 
			box-sizing border-box
			display inline-block
			width 25%
			margin 0
			padding 10px
			text-align center
			@media (max-width: 1000px)
				width 50%
			img 
				width 50%
footer 
	background-color black
	color white
	padding 30px 0
	p 
		font-size 16px 
		font-weight 400	

div.call-to-action
	background-color gray
	padding 20px 0
	text-align center
	position fixed 
	top 0 
	left 0
	right 0
	display none
	a 
		color white
		border-radius 10px
		background-color color_facebook
		display inline-block
		padding 20px 40px 
		font-size 20px
		font-weight 400
		text-decoration none
.wrapper
	width 100%
	font-size 0
	vertical-align top
	position relative
section.dashboard-left
	background-color #2c3e50
	color #ecf0f1
	box-sizing border-box
	width 20%
	font-size 20px
	height auto 
	vertical-align top
	position fixed
	top 0 
	left 0
	bottom 0
	div.dashboard-logotipo
		box-sizing border-box
		background-color #2ecc71
		color white
		font-size 0
		padding-bottom 10px
		height 120px
		h3 
			margin 0
			padding 40px 0 0 40px
			color white
			font-size 30px 
			font-weight 700
	div.dashboard-options
		padding-top 20px
		div.dashboard-profile
			width 100% 
			margin-bottom 20px
			figure 
				display block
				text-align center
				img 
					border-radius 50%
					width 50%
			p 
				margin 0 
				text-align center
				color white
				line-height 0
				font-size 14px 
		ul
			display block 
			margin 0 
			padding 0
			li 
				list-style none
				a 
					display block
					color #95a5a6
					font-size 16px 
					font-weight 600
					padding-top 15px
					padding-left 55px 
					padding-bottom 15px
					text-decoration none 
					&:hover 
						color white
						background-color #34495e
						> span 
							color #3498db 
					span 	
						display inline-block
						color #95a5a6
						font-size 18px
						margin-right 28px
section.dashboard-right
	vertical-align top
	box-sizing border-box
	width 100%
	font-size 20px
	height-min 100vh
	padding-left 20%
	div.dashboard-titulo
		box-sizing border-box
		width 100%
		position relative
		border-bottom 1px solid #bdc3c7
		height 120px
		h2 
			box-sizing border-box
			margin 0
			padding-top 40px
			padding-left 30px
			font-size 25px
			font-weight 400
			span 
				color #bdc3c7
				font-size 25px
				margin-right 15px
		a.dashboard-btn-agregar
			background-color #2c3e50
			border-radius 5px
			color white
			font-size 18px 
			font-weight 400
			display inline-block
			padding 10px 20px
			position absolute
			text-decoration none 
			top 40px 
			right 20px
			span 
				margin-right 10px
	div.contenido 
		border-box border-box
		padding-top 20px
		padding-left 30px
		padding-right 30px
		div.bienvenida
			width 100%
			p 
				color gray 
				margin 0
		div.dashboard-perfil
			box-sizing border-box
			width 100% 
			padding-left 10px
			padding-right 35px
			div.perfil-avatar
				width 100%
				box-sizing border-bottom
				border-bottom 1px solid #bdc3c7
				border-left 1px solid #bdc3c7
				border-right 1px solid #bdc3c7
				padding-left 25px 
				padding-bottom 15px
				figure
					display inline-block
					width 100px
					padding 0
					margin 0
					img 
						border-radius 10px
						padding 0
						width 100% 
				div
					vertical-align top
					display inline-block 
					padding-top 35px
					padding-left 15px
					a.dashboard-btn-cambiarfoto 
						border-radius 7px
						background-color #bdc3c7
						display inline-block 
						color black
						font-size 14px
						font-weight 600
						padding 10px 20px
			div.perfil-datos
				box-sizing border-bottom
				width 100%
				border-left 1px solid #bdc3c7
				border-right 1px solid #bdc3c7
				padding-left 25px 
				padding-bottom 15px
				p 
					margin 0
					padding-top 20px
					font-size 14px
					span 
						display block
						margin-bottom 10px
					input 
						border 1px solid #bdc3c7
						border-radius 5px
						display block
						width 300px
						font-weight 600
						padding 10px 10px
						outline 0
						&:hover 
							border 1px solid #3498db
					a.dashboard-btn-grabar
						border-radius 5px
						margin-top 20px
						color white 
						background-color #3498db 
						display inline-block 
						font-size 16px 
						font-weight 400
						padding 10px 20px 
						text-decoration none
				

// LLamamos al tipo de Fuente de IcoonMoon

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?nvoce8');
	src:url('../fonts/icomoon.eot?#iefixnvoce8') format('embedded-opentype'),
		url('../fonts/icomoon.woff?nvoce8') format('woff'),
		url('../fonts/icomoon.ttf?nvoce8') format('truetype'),
		url('../fonts/icomoon.svg?nvoce8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e600";
}
.icon-file:before {
	content: "\e601";
}
.icon-address-book:before {
	content: "\e602";
}
.icon-envelope:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-settings:before {
	content: "\e605";
}
.icon-list:before {
	content: "\e606";
}
.icon-list2:before {
	content: "\e607";
}
.icon-menu:before {
	content: "\e608";
}
.icon-plus:before {
	content: "\e609";
}
.icon-add:before {
	content: "\e60a";
}
